.nav-link {
    color: white;
}

.navbar-nav .nav-link.active {
    color: rgb(55, 188, 186);
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgb(206, 206, 206);
    
}